main section{
    align-self: center;
    width: 600px;
    height: 360px;
    background-color: white;
    padding: 30px;
    line-height: 40px;
}
.container-title a{
    text-decoration: underline;
}
