*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    /* outline: 1px solid red; */
}
header{
    display: flex;
    background-color: white;
}
header figure{
    padding: 20px 100px;
}
main{    
    display: flex;
    justify-content: space-around;
    height: 100vh;
    background-color: #B5B6F2;
    background-image: linear-gradient(#B5B6F2, #EFEFFF);
}

.container-main a, footer a:hover{
    text-decoration: underline;
}
.container-form label{
    font-weight: 700;
    font-size: 12px;
}
.container-form input{
    background-color: #e6e5e5;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}
.form-button{
    display: block;
    text-align: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #C92071;    
    text-decoration: none;
    margin-top: 20px;
}
.form-button button{
    color: #F5F5F5;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.form-button:hover{
    background-color: #fa6bb0;   
    transition: .3s;
}

.container-sociais{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.container-sociais a{
    padding-left: 20px;
}
figure{
    display: flex;
}
img.esquerda{
    align-self: flex-start;
}
img.direita{
    align-self: flex-end;
}

footer{
    max-height: 100vh;
    background-color: #1F1F1F;     
}
.container-footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 50px 0;  
    margin: auto;
    max-width: 1500px;
}
.container-footer figure img{
    padding: 30px 20px 0 0;
}
.container-footer li{
    padding-bottom: 10px;
}
.container-footer h4, .footer-logo img{
    padding: 30px 0;
}
.container-footer p, .container-footer h4, .container-footer a, .footer-copy{
    color: white;
}
.footer-copy{
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
}

@media screen and (max-width: 1520px){
    body{
        width: 100vw;
    }
    header{
        display: flex;
        justify-content: center;
    }
    main figure{
        display: none;
    }
    footer{
        height: 100vh;
    }
    .footer-logo{
        padding-bottom: 50px;
    }
    .container-footer{
        display: flex;
        flex-wrap: wrap;     
        margin: auto;
        max-width: 90vw;
    }
    .contatos{
        padding-top: 50px;
    }
    
}

@media screen and (max-width: 536px){
    main .container-main{
        margin: auto;
        width: 90%;
    }
}